<configuration>
	<reload>60</reload>
	<services>
		<service name="sample_c">
			<external_port>20001</external_port>
			<internal_port>50001</internal_port>
			<stop_cmd>/etc/init.d/xinetd stop</stop_cmd>
			<start_cmd>sed -i 's/20001/50001/g' /etc/xinetd.d/sample_c; /etc/init.d/xinetd start</start_cmd>
			<buffer>65536</buffer>
			<max_payload>65536</max_payload>
			<req_queue_size>100</req_queue_size>

			<expected_args>
				<arg name= "arg1" type="str" required="1"/>
			</expected_args>
			<parser name="passOnParser"></parser>
			<filters>
			</filters>
		</service>
		<service name="sample_py">
			<external_port>20002</external_port>
			<internal_port>50002</internal_port>
			<stop_cmd>/etc/init.d/xinetd stop</stop_cmd>
			<start_cmd>sed -i 's/20002/50002/g' /etc/xinetd.d/sample_py; /etc/init.d/xinetd start</start_cmd>
			<buffer>65536</buffer>
			<max_payload>65536</max_payload>
			<req_queue_size>100</req_queue_size>

			<expected_args>
				<arg name= "arg1" type="str" required="1"/>
			</expected_args>
			<parser name="passOnParser"></parser>
			<filters>
			</filters>
		</service>
		<service>
			<external_port>20003</external_port>
			<internal_port>50003</internal_port>
			<stop_cmd>service apache2 stop</stop_cmd>
			<start_cmd>sed -i 's/20003/50003/g' /etc/apache2/sites-enabled/sample_web.conf; service apache2 start</start_cmd>
			<buffer>65536</buffer>
			<max_payload>65536</max_payload>
			<req_queue_size>100</req_queue_size>

			<expected_args>
				<arg name= "arg1" type="str" equired="1"/>
			</expected_args>
			<parser name="passOnParser"></parser>
			<filters>
			</filters>
		</service>
	</services>
</configuration>